@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

main{
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top 65% left 1500%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 20px 20px;
    padding-top: 4%;
    padding-bottom: 4%;
}

body{
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    color: hsl(240, 6%, 50%);
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.imgBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 50%;
}

.womanBG{
    position: absolute;
    right: 16%;
    bottom: 0;
    overflow: hidden;
}

.womanBG img{ margin-left:-82px }

.boxBG{
    position: absolute;
    right: 79%;
    bottom: 11%;
}

.FAQBox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 10%;
    font-size: 12px;
}

.content .inner{
    opacity: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
}

input + label{
    background:url('images/icon-arrow-down.svg') no-repeat;
    background-position: top 50% left 92%;
    margin-right: 0;
}

input:checked + label + .content .inner {
    height: 2em;
    padding: 0.7em 1em;
    opacity: 1;
}


.FAQBox label{
    color: hsl(237, 12%, 33%);
}

input[type=checkbox]{
    display: none;
}

.title h1{
    color: hsl(238, 29%, 16%);
    font-size: 30px;
}

footer { 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: hsl(238, 29%, 16%)
}

footer a { color: hsl(228, 45%, 44%) }